In [1]:
# import libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#load the dataset

In [4]:
df=pd.read_csv('air_quality.csv')

In [5]:
df.head()

                                                                                                            Date;Time;CO(GT);PT08.S1(CO);NMHC(GT);C6H6(GT);PT08.S2(NMHC);NOx(GT);PT08.S3(NOx);NO2(GT);PT08.S4(NO2);PT08.S5(O3);T;RH;AH;;
10/03/2004;18.00.00;2            6;1360;150;11                 9;1046;166;1056;113;1692;1268;13 6;48 9;0                                                7578;;
10/03/2004;19.00.00;2;1292;112;9 4;955;103;1174;92;1559;972;13 3;47                             7;0  7255;;                                                NaN
10/03/2004;20.00.00;2            2;1402;88;9                   0;939;131;1140;114;1555;1074;11  9;54 0;0                                                7502;;
10/03/2004;21.00.00;2            2;1376;80;9                   2;948;172;1092;122;1584;1203;11  0;60 0;0                                                7867;;
10/03/2004;22.00.00;1            6;1272;51;6                   5;836;131;1205;116;1490;1110;11  2;59 6;0                                                7888;;

In [6]:
df.tail()

                                 Date;Time;CO(GT);PT08.S1(CO);NMHC(GT);C6H6(GT);PT08.S2(NMHC);NOx(GT);PT08.S3(NOx);NO2(GT);PT08.S4(NO2);PT08.S5(O3);T;RH;AH;;
;;;;;;;;;;;;;;;; NaN NaN NaN NaN                                                NaN
                             NaN                                                NaN
                             NaN                                                NaN
                             NaN                                                NaN
                             NaN                                                NaN

In [7]:
df.shape

(9471, 1)

In [8]:
df.describe()

       Date;Time;CO(GT);PT08.S1(CO);NMHC(GT);C6H6(GT);PT08.S2(NMHC);NOx(GT);PT08.S3(NOx);NO2(GT);PT08.S4(NO2);PT08.S5(O3);T;RH;AH;;
count                                                6915
unique                                               4941
top                                                7487;;
freq                                                    6

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 9471 entries, ('10/03/2004;18.00.00;2', '6;1360;150;11', '9;1046;166;1056;113;1692;1268;13', '6;48', '9;0') to (';;;;;;;;;;;;;;;;', nan, nan, nan, nan)
Data columns (total 1 columns):
 #   Column                                                                                                                        Non-Null Count  Dtype
---  ------                                                                                                                        --------------  -----
 0   Date;Time;CO(GT);PT08.S1(CO);NMHC(GT);C6H6(GT);PT08.S2(NMHC);NOx(GT);PT08.S3(NOx);NO2(GT);PT08.S4(NO2);PT08.S5(O3);T;RH;AH;;  6915 non-null   object
dtypes: object(1)
memory usage: 1.2+ MB

# Data Preprocessing

In [10]:
df.isnull().sum()

Date;Time;CO(GT);PT08.S1(CO);NMHC(GT);C6H6(GT);PT08.S2(NMHC);NOx(GT);PT08.S3(NOx);NO2(GT);PT08.S4(NO2);PT08.S5(O3);T;RH;AH;;    2556
dtype: int64

In [11]:
df=df.drop(columns=['Unnamed: 15','Unnamed: 16'],axis=1)

KeyError: "['Unnamed: 15' 'Unnamed: 16'] not found in axis"

In [ ]:
df=df.dropna()
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
df.head()

In [ ]:
df['CO(GT)'].value_counts()

In [ ]:
# finding -200 using simple for loops 

l=[]
for i in range(len(df.columns)):
    f=df.columns[i]
    count=0
    for j in range(len(df[f])):
        if df[f][j]==-200:
            count=count+1
    l.append((f,count))
print("Values from each column that needs to be replaced with avg \n",l)

In [ ]:
num=df._get_numeric_data()
num[num<0]=0
df

In [ ]:
df['CO(GT)'].value_counts()  # all -200 are replaced by 0

# Exploration

In [ ]:
# outliers in dataset is just-200

# creating dataset

np.random.seed(10)
data=df['CO(GT)']
print(data)

fig=plt.figure(figsize=(10,7))

# creating plot
plt.boxplot(data)

#show plot
plt.show()

In [ ]:
# correlation with other variables
df.corr()

In [ ]:
corrmat=df.corr()
top_corr_feature=corrmat.index
plt.figure(figsize=(30,20))
#to plot heat map
g=sns.heatmap(df[top_corr_feature].corr(),annot=True,cmap='viridis')

In [ ]:
# compare each column with another (correlation btw variables)
sns.pairplot(df)

In [ ]:
df.plot(kind='scatter',x='C6H6(GT)',y='PT08.S5(O3)')
plt.show()

In [ ]:
df['T'].plot.hist(bins=15)

Conclusion

Highest positive correlation can be seen among T,RH ,C6H6 with .97,.92 etc...

# Prediction

In [ ]:
# features

x=df
x=x.drop(columns=['Date','Time','C6H6(GT)'],axis=1)

In [ ]:
x.head()

In [ ]:
y=df['C6H6(GT)']

In [ ]:
y.head()

In [ ]:
# Train-Test Split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3)

In [ ]:
print(x_train.shape)
print(y_train.shape)

In [ ]:
print(x_test.shape)
print(y_test.shape)

In [ ]:
# Model-1

from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

from sklearn.metrics import mean_squared_error,r2_score
mse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
print(mse)   #min error good model
print(r2)  # max r2 that is good

In [ ]:
# Model-2

from sklearn.linear_model import Lasso
model=Lasso()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

from sklearn.metrics import mean_squared_error,r2_score
mse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
print(mse)   #min error good model
print(r2)  # max r2 that is good

In [ ]:
# Model-3

from sklearn.linear_model import Ridge
model=Ridge()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

from sklearn.metrics import mean_squared_error,r2_score
mse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
print(mse)   #min error good model
print(r2)  # max r2 that is good